.carousel {
    height: 600px;
    perspective: 250px;
  }
  
  .carousel .carousel-item {
    width: 450px;
    background: #fcf9fa;
    height: auto;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    opacity: 0.7;
    filter: blur(3px);
    transition: opacity 0.5s, filter 0.5s;
  
  }
  
  .carousel .carousel-item.active {
    box-shadow: 0px 0px 20px rgba(48, 164, 199, 0.5);
    opacity: 1;
    filter: blur(0);
  
  }
  
  .img-area {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: inset 8px deepskyblue;
  }
  
  .img-area img {
    width: 100%;
  }
  
  .testi h3 {
    font-size: 20px;
    margin: 0;
    color: #000;
    font-family: sans-serif;
  }
  
  .carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
  }
  
  .carousel-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
  }
  
  .carousel-buttons button:hover {
    background-color: #ce3434;
    color: #fff;
  }